h1 {
    color: rgb(9, 0, 128);
    font-size: 40px;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

p {
    color: gold;
    font-size: 20px;
}
.title {
    color: brown;
    font-size: 50px;
}